{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zeva is an online couture with the unique collection of custom tutu dresses. Zeva makes any size and color
              combination that you can think of. Our goal is to make your daughter create a very
              dazzling and graceful moments by standing out on her special day!">
    <meta name="keywords" content="zeva, zeva tutu, zeva tutu couture, tutu, tutudress, tutu dress, birthday dress,
     tutu tamilnadu,tutu chennai, tutu madurai, tutu dress madurai, first birthday dress, tutu couture, zeva couture,
      tutu dress online, tutu online, tutu dress India, cake smash dress, birthday dress, tutu skirt, feathers tutu,
      tutu boutique, best tutu dress, birthday girl dress, birthday tutu dress">
    <meta name="author" content="Zeva Tutu Couture - Banu Priya">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/logo_icon.jpg' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" ></script>
    <script src="{% static 'javascript/scripts.js' %}"></script>
    <title>ZEVA - Tutu Couture</title>
  </head>

  <body>
  {% block topbar %}
    <div class="row top-bar">
      <div class="col-md-3 d-none d-md-block">
        <i class="material-icons">call</i> (+91) 70102-69834 
      </div>
          
      <div class="col-md-3 d-none d-md-block">
        <i class="material-icons">location_on</i> Madurai,Tamil Nadu 
      </div>   
      <div class="col-md-6 d-none d-md-block" style="text-align:right;">
        <a href="https://www.facebook.com/zevatutu" target="_blank" style="padding-right: 10px;"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://instagram.com/zeva_tutu" target="_blank" style="padding-right: 10px;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://wa.me/917010269834" target="_blank" style="padding-right: 10px;"><i class="fa fa-whatsapp fa-2x"></i></a>
      </div>
    </div>
    {% endblock topbar %}
    {% block maincarousel %}
  <div class="container">


    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/c1.png' %}" alt="tutu frock" style="width:100%;height:400px;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/c2.png' %}" alt="tutu frock' %}"  style="width:100%;height:400px;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/c3.jpg' %}" alt="tutu frock' %}"  style="width:100%;height:400px;">
          </div>
        </div>      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
    {% endblock maincarousel %}
<div class="container sticky-top">


    <nav class="navbar navbar-expand-md nav-bar-style ">
      <!-- Brand -->
      <a class="navbar-brand" href="/"><img src="{% static 'images/logo_icon.jpg' %}" style="width:40px;height:40px;"></a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="material-icons">view_headline</i> 
      </button>
      
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav w-100 nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class=" nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Collections</a>
            <div class="dropdown-menu nav-bar-style" id="myDropdown" style="border:none;width:100%;">
              {% for item in menu %}
              <a class ="dropdown-item" href="{% url 'display' item.category %}">{{item.title}}</a>
              {% endfor %}
            </div>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="/clientdiaries">Client Diaries</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/#contactus">Contact Us</a>
          </li>
        </ul>
        <br>
        <div class="d-block d-md-none">
          <a href="https://www.facebook.com/zevatutu" target="_blank" style="padding-right: 10px;"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://instagram.com/zeva_tutu" target="_blank" style="padding-right: 10px;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          <a href="https://wa.me/917010269834" target="_blank" style="padding-right: 10px;"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
        
      </div>
    </nav>
</div>

  <!-- main page -->
   {% block display %}
  <br><br>
  <div class="container">
    <div class="row">
      {% for item in menu %}
      <div class="col-8 col-md-6 col-lg-4" style="margin:auto" onmouseover="m_over(this)" onmouseout="m_out(this)">
        <a href="{% url 'display' item.category %}"><img src="{{item.image.url}}" class="menu" style="opacity:0.5;">
        <div class="centered">{{item.title}}</div></a>
      </div>
      {% endfor %}
    </div>
  </div>
   {% endblock display %}

    <!-- Testimonials -->
    <div class="container">
      <div class="row" id="test">        
          <h1 class="h1-style">Testimonials</h1>  
      </div>
    <br>
    <div class="container" id="cust-review">            
      <div id="demo1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo1" data-slide-to="0" class="active"></li>
          <li data-target="#demo1" data-slide-to="1"></li>
          <li data-target="#demo1" data-slide-to="2"></li>
        </ul>          
        <!-- The slideshow -->
        <div class="carousel-inner bq-style">
          <div class="carousel-item active">
                <p class="bq-p">"Zeva - Tutu Couture, the name you can trust if you are looking for customized dresses for your little princess.
                I have ordered dress for my 45 days old baby for a family event and received the dress with perfect stitching with in 2 days.
                Every one wondered after seeing the dress (stitching frock for a 45 days old baby is too much I know).
                Over all, myself and my wife satisfied with the "customized frock"
                </p><br>
              <p class="text-center client">Sathish Kumar</p>
              <img class="dp-style mx-auto d-block" src="{% static 'images/DP.png' %}">
          </div>
          
          <div class="carousel-item">                                
              <p class="bq-p">"I got the frock from ZEVA Tutu Couture.. Its looking good for my queen... And they are supporting for fast designing and delivery."</p>
              <br><p class="text-center client"> Navya Uppalapatti</p>
              <img src="{% static 'images/DP.png' %}" class="dp-style mx-auto d-block" >
          </div>
          
          <div class="carousel-item">                                  
              <p class="bq-p">"Received very pretty customised princess gown as I expected. Thank you so much ZEVA-Tutu couture for the frock. Much satisfied."</p>
              <br><p class="text-center client"> Reena Praveen</p>
              <img src="{% static 'images/DP.png' %}" class="dp-style mx-auto d-block">
          </div>
        </div>          
    </div>
   </div>

      
  <!-- Contact us section -->
  
  <div class="container">
    <div class="row" id="contactus">
      
        <h1 class="h1-style">Contact Us</h1>
      
    </div>
  </div><br>

  <div class="container" id="contact-area">     
    
      <i class="material-icons fa-2x" style="padding:8px;">call</i> (+91) 70102-69834<br>
      <i class="material-icons fa-2x" style="padding:8px">location_on</i> Madurai, Tamil Nadu<br>
      <i class="material-icons fa-2x" style="padding:10px">mail</i>zeva.connect@gmail.com<br>
      <a href="https://wa.me/917010269834" class="btn" style="text-decoration: none;" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>(+91) 70102-69834 <br>
  </div>
  <hr>
  <!--  Footer Section  -->
      
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <br>
          <h6 class="text-center">News &amp; Updates</h6>
          <br>
          <p >Sign up to get the latest on sales, new releases and more…</p>
          <form class="form" method="POST" action="/" id="form">
            {% csrf_token %}
            <input type="text" placeholder="First Name" name="fname" required class="form-control"><br>
            <input type="email" placeholder="Enter your email address..." name="email" required class="form-control"><br>
            <button class="btn btn-block" type="submit" style="background-color: pink;">Sign Up</button>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
          <br>
          <h6>About Us &amp; Terms</h6>
          <br>
          <a href="/" style="text-decoration: none;">Home</a><br><br>
          <a href="/aboutus" style="text-decoration: none;">About zeva</a><br><br>
          <a href="/termsandconditions" style="text-decoration: none;">Terms & Conditions</a><br><br>
          <a href="/cancelationpolicy" style="text-decoration: none;">Cancelation Policy</a>
          

          </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
          <br>
          <h6>Customer Service</h6><br>                      
          <a href="/#contactus" style="text-decoration: none;">Contact us</a><br><br>
          <a href="/FAQs" style="text-decoration: none;">FAQs</a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
          <br>
          <h6>Connect with us</h6><br>
            <a href="https://www.facebook.com/zevatutu/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a><br><br>
            <a href="https://instagram.com/zeva_tutu" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><br><br>

        </div>
        </div>
      </div>
    </div>
<!--    <hr>-->
  <br>
  <div  style="text-align:center;background-color:pink;"><i class="fa fa-copyright" aria-hidden="true">2019 zeva. <small>Developed by Banu Priya</small></i></div>

    <a href="https://wa.me/917010269834" target="_blank"><img class="fixed-btn" src="{% static 'images/wa.jpg' %}"></i></a>
    </body>
</html>