{% extends "index.html" %}
{% load static %}

{% block topbar %}
{% endblock topbar %}
{% block maincarousel %}
{% endblock maincarousel %}
{% block display %}
<div class="container">
      <div class="row" id="aboutus">
        <div class="col-12 col-md-7">
          <h1 class="h1-style">ZEVA - Tutu Couture</h1>
          <p style="padding-top: 15px;text-indent: 30px;line-height: 250%;text-align:justify"><b>ZEVA</b> is an online
              couture with the unique collection of custom tutu dresses. Zeva makes any size and color
              combination that you can think of. Our goal is to make your daughter create a very
              dazzling and graceful moments by standing out on her special day! Zeva- Tutu Couture
              has been recognized for excellence in style, exclusivity, and brilliance. Zeva- Tutu Couture
              collection provides the signature style and attention to detail that Zeva is known for.
              Zeva is a brand fashioned exclusive for Girls. We, in our Tutu Couture, assure you to give
              100% genuine products with high quality materials. We offer exclusively designed fancy
              handcrafted Princess tutu dresses, tutu skirts and knee length tutu dresses for girls below
              10 years. We hope that you enjoy shopping with Zeva!
</p>
        </div>
        <div class="col-12 col-md-5">
          <div class="img-cont">
            <img class="rounded" src="{% static 'images/tf (22).jpg' %}" style="max-width: 100%;padding-top:50px;">
          </div>
        </div>
      </div>
    </div>
{% endblock display %}