{% extends "index.html" %}
{% load static %}

{% block topbar %}
{% endblock topbar %}
{% block maincarousel %}
{% endblock maincarousel %}
{% block display %}
<div class="container">
      <div class="row" id="aboutus">
        <div class="col-12 col-md-7">
          <h1 class="h1-style">Cancelation Policy</h1>
          <ul style="padding-top: 15px;line-height: 250%;">
              <li>We will not accept any return or exchange for the customised product.
However the order can be canceled before they got ready.</li>
              <li>You can contact us via Whatsapp/Call at +91 9159803077 or Email us at zeva.connect@gmail.com
                  to cancel your order. If your order didn’t get ready, we will cancel it soon and refund
                  your money.</li>
</ul>
        </div>
        <div class="col-12 col-md-5">
          <div class="img-cont">
            <img class="rounded" src="{% static 'images/tf (3).jpg' %}" style="max-width: 100%;padding-top:50px;">
          </div>
        </div>
      </div>
    </div>
{% endblock display %}