{% extends "index.html" %}

{% block topbar %}
{% endblock topbar %}

{% block display %}
<div class="container">
      <div class="row" id="test">
          <h1 class="h1-style">Thank you for joining our mailing list! </h1>
      </div>
</div>
    <br><br>
  <div class="container">
    <div class="row">
      {% for item in menu %}
      <div class="col-8 col-md-6 col-lg-4" style="margin:auto" onmouseover="m_over(this)" onmouseout="m_out(this)">
        <a href="{% url 'display' item.category %}"><img src="{{item.image.url}}" class="menu">
        <div class="centered">{{item.title}}</div></a>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock display %}

{% block maincarousel %}
{% endblock maincarousel %}