{% extends "index.html" %}
{% load static %}

{% block topbar %}
{% endblock topbar %}
{% block maincarousel %}
{% endblock maincarousel %}
{% block display %}
<div class="container">
      <div class="row" id="aboutus">
        <div class="col-12 col-md-7">
          <h1 class="h1-style">Terms & Conditions</h1>
          <p style="padding-top: 15px;text-align:justify;line-height: 250%;">
              By placing an order with us, you are agreeing to accept these terms and conditions.<br>

              Please note, these terms and conditions can potentially change at any time, and it
              is up to you to check these terms and conditions regularly before ordering products
              in case there are any changes. If you do not agree with the terms and conditions,
              you should not use or access this website.<br>

              If you have any queries relating to our terms and conditions, please contact the
              Customer Service team before placing an order via Email at zeva.connect@gmail.com
              or Whatsapp/Call at +91 7010269834<br>

              YOUR RESPONSIBILITIES IF YOU BREAK THESE CONDITIONS<br>

               You agree that if you break these Conditions, or any liabilities are incurred arising
              out of your use of this website, you will be responsible for the costs and expenses
              that we incur as a result of the breach, including reasonable legal fees (if applicable).
              You will remain liable if someone else uses your shopping account and/or personal information
              unless you can prove that such use was fraudulent.
</p>
        </div>
        <div class="col-12 col-md-5">
          <div class="img-cont">
            <img class="rounded" src="{% static 'images/tf (19).jpg' %}" style="max-width: 100%;padding-top:50px;">
          </div>
        </div>
      </div>
    </div>
{% endblock display %}